doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    .container
      .row
        .col-sm-6.col-md-6.col-lg-6
          h1= title
          h2= subtitle
        .col-sm-6.col-md-6.col-lg-6
          img(src=cover, height='300')
      .body !{body}
